.table.table-structure>tbody>tr>td, .table.table-structure>tbody>tr>th, 
.table.table-structure>tfoot>tr>td, .table.table-structure>tfoot>tr>th, 
.table.table-structure>thead>tr>td, .table.table-structure>thead>tr>th {
    border-top: none;
    padding: 15px 10px;
}

.table.table-tt>tbody>tr>td, .table.table-tt>tbody>tr>th, 
.table.table-tt>tfoot>tr>td, .table.table-tt>tfoot>tr>th, 
.table.table-tt>thead>tr>td, .table.table-tt>thead>tr>th {
    border-top: none;
    padding: 15px 10px;
}

.table.table-structure>tbody>tr>td,
.table.table-tt>tbody>tr>td{
    position: relative;
}
.table.table-structure>thead>tr>th {
    border-bottom: none;
}
.table.table-structure>tbody>tr>td::before,
.table.table-tt>tbody>tr>td::before{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
    pointer-events: none;
}
.table.table-structure>tbody>tr:hover>td::before,
.table.table-tt>tbody>tr:hover>td::before{
    content: '';
}
    

table .first-line {
    background: #311b92;
    color: #29b6f6;
}

table .first-line a{
    color: #fff;
}
table .second-line {
    background: #0288d1;
    color: #fff;
    border-left: 10px solid #311b92;
}
table .second-line a{
    color: #ffd54f;
}
table .third-line {
    color: #311b92;
    border-left: 10px solid #0288d1;
}

.partner-acc, .agent-acc, .start-tt, .biz-tt, .serv-tt {
    font-family: 'TTLakesCondensed-DemiBold';
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

.partner-acc {
    background: #ffc107;
    color: #311b92;
    padding: 6px 6px 4px;
}
.agent-acc {
    background: #00c853;
    color: #311b92;
    padding: 6px 15px 4px;
}
.user-acc {
    background: #03a9f4;
    color: #311b92;
    padding: 6px 15px 4px;
}

.start-tt {
    background: #69f0ae;
    color: #311b92;
    padding: 6px 6px 4px;
}

.biz-tt {
    background: #ffd54f;
    color: #311b92;
    padding: 6px 6px 4px;
}

.serv-tt {
    background: #29b6f6;
    color: #311b92;
    padding: 6px 6px 4px;
}

.pricing-table .col.col-first .td {
    font-family: 'TTLakesCondensed-Medium';
    font-size: 16px;
}
.pricing-table .col .td {
    font-size: 20px;
    font-family: 'TTLakesCondensed-DemiBold';
}

.pricing-table .bg-purple {
    background-color: #502da8 !important;
}

.pricing-table .thead.bg-gray {
    background-color: #b9babd;
}

.pricing-table .btn-gray {
    background-color: #b9babd !important;
    color: #999;
    cursor: default;
}

.pricing-table .td .btn-order {
    background: #502da8;
}

