/*Primary colors*/

.color-yellow {
    color: #ffc300
}

.color-dark {
    color: #091d3d
}

.bg-yellow {
    background-color: #ffc300
}

.bg-dark {
    background-color: #091d3d
}

.color-dark-light {
    color: #516077
}

.color-dark-lighter {
    color: #cdd0d9
}

.color-darker {
    color: #3B3B3B;
}

.color-light-0 {
    color: #ffffff
}

.color-light-1 {
    color: #f8f8f8
}

.color-light-2 {
    color: #f1f1f1
}

.color-light-3 {
    color: #dddddd
}

.color-light-4 {
    color: #cdd0d9
}

.color-light-5 {
    color: #b9bdc6
}

.bg-dark-light {
    background-color: #516077
}

.bg-dark-lighter {
    background-color: #cdd0d9
}

.bg-darker {
    background-color: #9197AE;
}

.bg-light-0 {
    background-color: #ffffff
}

.bg-light-1 {
    background-color: #f8f8f8
}

.bg-light-2 {
    background-color: #f1f1f1
}

.bg-light-3 {
    background-color: #dddddd
}

.bg-light-4 {
    background-color: #cdd0d9
}

.bg-light-5 {
    background-color: #b9bdc6
}

.no-pad {
    padding: 0;
}


/*Constructor*/

#constructor {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 20px 120px rgba(9, 29, 61, 0.5);

}

#constructor > .col {
    padding: 30px;
}

.construcor-container {
    width: 395px;
    height: 667px;
    background: #f1f1f1 url(../img/promo.png) no-repeat top center;
    background-size: cover;
    margin: 50px auto;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}

.card_promo.card_promo-block {
    position: relative;
    min-width: 355px;
    top: 0px;
}

.card_promo {
    display: block;
    position: absolute;
    overflow: hidden;
    height: auto;
    width: 375px;
    top: 70px;
    left: 50%;
    border-radius: 8px;
    transform: translate(-50%, 0);
    background: #b9bdc6;
}




.card_promo-fishki {
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}


/*Offer Cards*/

.offer-cards {
    padding-top: 80px;
}

.offer-cards .card-offer {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
}

.offer-cards .card-offer .card-bg {
    border-radius: 8px;
}


.offer-cards .card-header {
    padding: 0;
}

.card-header,
.card-footer {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
    padding: 4px 16px;
}

.card-footer {
    border-radius: 0 0 8px 8px;
}

.offer-cards .card-header:after,
.offer-cards .card-footer:before {
    display: none;
}

.offer-cards .card-header .company-offer {
    font-size: 14px;
    line-height: 16px;
    padding: 5px 10px;
}

.card-offer .company-logo {
    width: 70px;
    min-width: 70px;
    height: 70px;
    margin-left: -16px;
    margin-right: 16px;
    margin-top: -4px;
    background-size: cover;
    background-position: center center;
}
.card-offer .company-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    image-rendering: pixelated;
  -moz-image-rendering: crisp-edges;
}

.fishki {
    position: relative;
    padding: 0;
}

.card_promo-fishki {
    counter-reset: myCounter;
    padding: 5px;
    justify-content: center;
    font-family: TTLakesCondensed-DemiBold;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.fishki li {
    position: relative;
    list-style: none;
    line-height: 0;
    min-width: 40px;
    max-width: 50px;
    padding: 5px;
}

.fishek-2 li {
    max-width: 75px;
}

.fishek-3 li {
    max-width: 70px;
}

.fishek-4 li {
    max-width: 65px;
}

.fishek-5 li {
    max-width: 60px;
}

.fishek-6 li {
    max-width: 50px;
}

.fishki li svg {
    width: 100%;
}

.fishki li:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 20px;
    line-height: 20px;
    margin-top: 2%;
}

.fishki li.checked:before {
    /*font-family: 'Material Icons';
    content:'add';*/
    content: '+';
    font-size: 35px;
    line-height: 35px;
    margin-top: 2%;
}


.offer-counter {
    display: block;
    position: absolute;
    top: -5px;
    right: 10px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #f5f5f5;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.card-company-name {
    font-family: TTLakesCondensed-DemiBold;
}



/* Костыль для кол-ва фишек 
.card_promo-fishki.fishek-3 li{
   padding: 5px 10px !important;
}
.card_promo-fishki.fishek-4 li{
   padding: 10px 5px !important;
}
.card_promo-fishki.fishek-5 li{
   padding: 12px 3px !important;
}
.card_promo-fishki.fishek-6 li{
   padding: 15px 3px !important;
}
.card_promo-fishki.fishek-7 li{
   padding: 18px 2px !important;
}
.card_promo-fishki.fishek-8 {
    padding: 10px;
}
.card_promo-fishki.fishek-8 li{
   padding: 18px 2px !important;
}
.card_promo-fishki.fishek-9 {
    padding: 0 35px;
}
.card_promo-fishki.fishek-9 li{
    padding: 0 5px !important;
    min-width: 60px;
    height: 30px;
}
.card_promo-fishki.fishek-10 {
        padding: 0 35px;
}
.card_promo-fishki.fishek-10 li{
    padding: 0 5px !important;
    width: 50px !important;
    height: 30px;
}

.card_promo-fishki.fishek-11 {
    padding: 0 30px;
}
.card_promo-fishki.fishek-11 li{
    padding: 0 5px !important;    
    width: 50px !important;
    height: 37px;
}

.card_promo-fishki.fishek-12 {
    padding: 5px 30px;
}
.card_promo-fishki.fishek-12 li{
    padding: 0 5px !important;    
    width: 45px !important;
    height: 30px;
}
.card_promo-fishki.fishek-13 {
    padding: 3px 15px;
}
.card_promo-fishki.fishek-13 li{
    padding: 0 5px !important;    
    min-width: 45px !important;
    height: 35px;
}
.card_promo-fishki.fishek-14 {
    padding: 5px 15px;
}
.card_promo-fishki.fishek-14 li{
    padding: 0 5px !important;    
    width: 40px !important;
    height: 30px;
}
.card_promo-fishki.fishek-15 {
    padding: 6px 15px;
}
.card_promo-fishki.fishek-15 li{
    padding: 0 3px !important;    
    width: 40px !important;
    height: 33px;
}
.card_promo-fishki.fishek-16 {
    padding: 6px 15px;
}
.card_promo-fishki.fishek-16 li{
    padding: 0 3px !important;    
    width: 35px !important;
    height: 33px;
}
.card_promo-fishki.fishek-17 {
    padding: 6px 15px;
}
.card_promo-fishki.fishek-17 li{
    padding: 0 2px !important;    
    min-width: 35px !important;
    height: 33px;
}
.card_promo-fishki.fishek-17 li .plshk-count{
    top: -5px;
    right: -5px;
}
.card_promo-fishki.fishek-18 {
    padding: 10px 15px;
}
.card_promo-fishki.fishek-18 li{
    padding: 0 2px !important;    
    width: 30px !important;
    height: 25px;
}
.card_promo-fishki.fishek-18 li .plshk-count{
    top: -5px;
    right: -3px;
}
.card_promo-fishki.fishek-19 {
    padding: 10px 15px;
}
.card_promo-fishki.fishek-19 li{
    padding: 0 2px !important;    
    min-width: 33px !important;
    height: 32px;
}
.card_promo-fishki.fishek-19 li .plshk-count{
    top: -10px;
    right: -3px;
}




.card_promo-fishki li{
    position: relative;
    margin: 5px 0 !important; 
    padding: 0 3px !important;
    width: auto !important;
}
.card_promo-fishki li .num{
    font-family: 'TTLakesCondensed-DemiBold';
    position: absolute;
    z-index: 100;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #516077;
}
.card_promo-fishki li.active .num{
    color: #091d3d;
}

ul.card_promo-fishki>li:last-child .num {
    color: #cdd0d9;
}

.card_promo-fishki li .crd-txt {   
    font-size: 16px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fshk {fill-rule:evenodd;clip-rule:evenodd;fill:#cdd0d9;}
.fshk-brdr {fill:#516077;}
ul.card_promo-fishki>li:last-child .fshk {fill:#516077;}
ul.card_promo-fishki>li:last-child .fshk-brdr {fill:#cdd0d9}



ul.card_promo-fishki>li.active .fshk {fill:#ffc300;}
ul.card_promo-fishki>li.active .fshk-brdr {fill:#292e33}

.plshk-count {
    font-family: 'TTLakesCondensed-DemiBold';
    display: block;
    background: #516077;
    color: #cdd0d9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    font-size: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #cdd0d9;
    position: absolute;
    top:0;
    right: 0;
    z-index: 100;
}

.card_promo-footer {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    text-align: left;
    background: #516077;
    color: #cdd0d9;
    padding: 0 1em;
}

*/




/*constructor-options*/

.constructor-options {}

.constructor-options h5 {
    margin-bottom: 0;
    margin-top: 15px;
}

.constructor-options label {
    font-family: 'TTLakesCondensed-DemiBold', Tahoma;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    color: #516077;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    overflow: hidden;
    width: 100%;
    height: 30px;
    margin-bottom: 0;
    box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.25);
}
input[type="color"]:focus {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}


/* -webkit */

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

/* firefox */

input[type=color]::-moz-focus-inner {
    border: none;
    padding: 0;
}

input[type=color]::-moz-color-swatch {
    border: none;
}

.save-card {
    padding: 100px 0;
    min-width: 100%;
    height: 350px;
    text-align: center;
    position: relative;
    margin-top: -350px;
    background: linear-gradient(0deg, rgb(145, 151, 174) 0%, rgba(59, 59, 59, 0) 100%);
}

/*Panels*/

.panel {
    border-radius: 4px;
    overflow: hidden;
    background: #f8f8f8;
    margin-bottom: 15px;
}

.panel-header {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 10px 15px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.panel-header h2 {
    font-size: 20px;
    margin: 0;
}

.panel-body {
    padding: 10px 15px;
    position: relative;
    z-index: 0;
    font-size: 14px;
    border-left: 5px solid #fafafa;
    border-right: 5px solid #fafafa;
}

.panel-body table {
    margin: 0;
}

.panel-footer {
    position: relative;
    z-index: 1;
    padding: 10px;
    text-align: center;
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.panel-footer .button {
    margin: 0 auto;
}


/*Loginform*/

.login-logo {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;
}

.login-logo span {
    display: block;
    color: #091d3d;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.login-form {
    width: 300px;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background: #091d3d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form .field {
    position: relative;
}

.login-form .field i {
    left: 0px;
    top: 0px;
    position: absolute;
    height: 38px;
    width: 40px;
    color: #091d3d;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.login-form input[type=text],
.login-form input[type=password],
.login-form input[type=tel] {
    font-size: 16px;
    line-height: 40px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 14px 18px 10px 45px;
    margin-bottom: 0;
    border: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1),
    inset 0 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #091d3d;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.login-form input[type=text] {
    margin-bottom: 10px;
}

.login-form input:hover ~ i {
    color: #091d3d;
}

.login-form input:focus ~ i {
    color: #000;
}

.login-form input[type=text]:focus,
.login-form input[type=password]:focus,
.login-form button[type=submit]:focus {
    outline: none;
}

.login-form input::-webkit-input-placeholder {
    color: #091d3d;
}

.login-form input:-ms-input-placeholder {
    color: #091d3d;
}

.login-form input::-ms-input-placeholder {
    color: #091d3d;
}

.login-form input::placeholder {
    color: #091d3d;
}

.login-form .submit {
    /* Size and position */
    width: 65px;
    height: 65px;
    position: absolute;
    top: 17px;
    right: -25px;
    padding: 10px;
    z-index: 2;
    background: #091d3d;
    border-radius: 50%;
}


.login-form button {
    /* Size and position */
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: -1px;
    font-size: 30px;
    color: #091d3d;
    border: none;
    border-radius: inherit;
    background: #ffc300;
    cursor: pointer;
}

.login-form button:hover,
.login-form button[type=submit]:focus {
    background: #091d3d;
    color: #ffc300;
    s -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.login-form button:active {
    background: #42A2BC;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3),
    inset 0 3px 4px rgba(0, 0, 0, 0.3);
}

.login-form h3 {
    position: absolute;
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    bottom: -50px;
    text-align: center;
}

.login-form h3 a {
    margin: 0 20px;
    letter-spacing: 2px;
}

.login-form h3 a::before {
    bottom: 5px;
    border-top: #fff 10px solid;
}


.new-firm {
    background: #fff;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 10px;
    position: relative;
}

.new-firm label,
.new-firm legend {
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 1.3;
}

.new-firm h5 {
    margin-bottom: 0;
    margin-top: 20px;
}

.new-firm input[type="text"] {
    height: 3rem;
    padding: 0rem 1.0rem;
    margin-bottom: .5rem;
}

.new-firm input[type="submit"] {
    margin-top: 10px;
}

.new-firm .button-edit {
    display: none;
}

.new-firm.done {
    border: 3px solid #ffc300;
    background: #f7f7f7;
}

.new-firm.done label,
.new-firm.done legend {
    display: none;
}

.new-firm.done h5 {
    margin-top: 5px;
}

.new-firm.done input[type="text"] {
    padding: 0rem;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}

.new-firm.done input[type="submit"] {
    display: none;
}

.new-firm.done .button-edit {
    border: none !important;
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    top: -10px;
    right: -15px;
}

.new-firm.done .button-edit {
    display: block;
}






.container {
    margin: 0 auto;
    max-width: 112.0rem;
    padding: 0 2.0rem;
    position: relative;
    width: 100%
}

.row {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%
}

.row.row-no-padding {
    padding: 0
}

.row.row-no-padding > .column {
    padding: 0
}

.row.row-wrap {
    flex-wrap: wrap
}

.row.row-top {
    align-items: flex-start
}

.row.row-bottom {
    align-items: flex-end
}

.row.row-center {
    align-items: center
}

.row.row-stretch {
    align-items: stretch
}

.row.row-baseline {
    align-items: baseline
}

.row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%
}

.row .column.column-offset-10 {
    margin-left: 10%
}

.row .column.column-offset-20 {
    margin-left: 20%
}

.row .column.column-offset-25 {
    margin-left: 25%
}

.row .column.column-offset-33,
.row .column.column-offset-34 {
    margin-left: 33.3333%
}

.row .column.column-offset-50 {
    margin-left: 50%
}

.row .column.column-offset-66,
.row .column.column-offset-67 {
    margin-left: 66.6666%
}

.row .column.column-offset-75 {
    margin-left: 75%
}

.row .column.column-offset-80 {
    margin-left: 80%
}

.row .column.column-offset-90 {
    margin-left: 90%
}

.row .column.column-10 {
    flex: 0 0 10%;
    max-width: 10%
}

.row .column.column-20 {
    flex: 0 0 20%;
    max-width: 20%
}

.row .column.column-25 {
    flex: 0 0 25%;
    max-width: 25%
}

.row .column.column-33,
.row .column.column-34 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%
}

.row .column.column-40 {
    flex: 0 0 40%;
    max-width: 40%
}

.row .column.column-50 {
    flex: 0 0 50%;
    max-width: 50%
}

.row .column.column-60 {
    flex: 0 0 60%;
    max-width: 60%
}

.row .column.column-66,
.row .column.column-67 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%
}

.row .column.column-75 {
    flex: 0 0 75%;
    max-width: 75%
}

.row .column.column-80 {
    flex: 0 0 80%;
    max-width: 80%
}

.row .column.column-90 {
    flex: 0 0 90%;
    max-width: 90%
}

.row .column .column-top {
    align-self: flex-start
}

.row .column .column-bottom {
    align-self: flex-end
}

.row .column .column-center {
    -ms-grid-row-align: center;
    align-self: center
}

@media (min-width: 40rem) {
    .row {
        flex-direction: row;
        margin-left: -1.0rem;
        width: calc(100% + 2.0rem)
    }
    .row .column {
        margin-bottom: inherit;
        padding: 0 1.0rem
    }
}